.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;

	&.open {
		opacity: 1;
		pointer-events: auto;
	}
}

.modal-content {
	width: 100vw;
	height: 100vh;
	width: auto;
	height: auto;
	overflow: visible;
}

.modal-content img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	width: 70vw;
	object-fit: contain;
}

.close-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: transparent;
	color: white;
	border: none;
	font-size: 34px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Adaptive for all devices */
@media (max-width: 1380px) {
	.modal-content img {
		width: 80vw;
	}
}

@media (max-width: 1024px) {
	.modal-content img {
		width: 87vw;
	}
}

@media (max-width: 932px) {
	.modal-content img {
		width: 70vw;
	}
}

@media (max-width: 912px) {
	.modal-content img {
		width: 90vw;
	}
}

@media (max-width: 896px) {
	.modal-content img {
		width: 70vw;
	}
}

@media (max-width: 882px) {
	.modal-content img {
		width: 55vw;
	}
}

@media (max-width: 853px) {
	.modal-content img {
		width: 90vw;
	}
}

@media (max-width: 844px) {
	.modal-content img {
		width: 70vw;
	}
}

@media (max-width: 768px) {
	.modal-content img {
		width: 90vw;
	}
}

@media (max-width: 740px) {
	.modal-content img {
		width: 70vw;
	}
}

@media (max-width: 720px) {
	.modal-content img {
		width: 85vw;
	}
}

@media (max-width: 690px) {
	.modal-content img {
		width: 90vw;
	}
}

@media (max-width: 667px) {
	.modal-content img {
		width: 70vw;
	}
}

@media (max-width: 430px) {
	.modal-content img {
		width: 95vw;
	}
}
