.about {
	padding: 0 12rem;
}
.about-title {
	letter-spacing: normal;
	line-height: 1.4;
	font-size: 68px;
	font-weight: 300;
	text-align: left;
	text-align-last: left;
	cursor: default;
	& > b {
		font-weight: 300;
		display: inline-block;
	}
}

#about {
	scroll-margin-top: 25vh;
}

.dark {
	color: var(--dark-green-color);
}

.light {
	color: var(--light-green-color);
}

.about-section section {
	display: inline-flex;
	margin-top: 3rem;
}

.about-row {
	display: flex;
	margin-top: 3rem;
}

.about-text {
	font-weight: 200;
	max-width: 1240px;
	font-size: 2rem;
	text-align: justify;
	line-height: 1.3;
}

/* Adaptive for all devices */
@media (max-width: 1620px) {
	.about {
		padding: 0 10rem;
		margin-top: -2rem;
	}

	.about-title {
		font-size: 58px;
	}

	.about-text {
		font-size: 24px;
		max-width: 85%;
	}

	.about-row {
		margin-top: 2.4rem;
	}
}

@media (max-width: 1380px) {
	.about {
		padding: 0 3.125rem;
		margin-top: -10rem;
	}

	.about-title {
		font-size: 54px;
	}

	.about-text {
		max-width: 85%;
	}

	.about-row {
		margin-top: 2.2rem;
	}
}

@media (max-width: 1024px) {
	.about {
		margin-top: -13rem;
	}

	.about-title {
		font-size: 46px;
		width: 100%;
	}
	.about-text {
		font-size: 22px;
	}

	.about-row {
		margin-top: 2rem;
	}
}

@media (max-width: 830px) {
	.about {
		margin-top: -15rem;
		padding: 0 2rem;
	}
	.about-title {
		font-size: 40px;
	}
	.about-text {
		font-size: 20px;
	}
}

@media (max-width: 430px) {
	.about {
		padding: 0 1rem;
		margin-top: -22rem;
	}
	.about-title {
		font-size: 30px;
	}
	.about-text {
		font-size: 18px;
		line-height: 1.5;
		text-align: left;
	}
}

@media (max-width: 360px) {
	.about {
		padding: 0 1rem;
	}

	.about-title {
		font-size: 28px;
	}
}
