.contacts-section {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	height: max-content;
	background: var(--bg-section-light);
	border-radius: 50px;
	padding: 3.125rem;
	box-shadow: 0 15px 20px var(--color-black-30);
	transition: box-shadow 0.25s ease-in-out;
}

.description-label {
	margin-top: -0.625rem;
	font-size: 50px;
}

.description {
	font-weight: 200;
	display: flex;
	flex-direction: column;
	font-size: 22px;
	max-width: 80%;
	margin-top: 3.5rem;
	margin-left: 1rem;
	gap: 0.8rem;
}

.signature {
	margin-left: auto;
}

.networks-section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

/* Adaptive for all devices */
@media (max-width: 1620px) {
	.description-label {
		font-size: 48px;
	}
}

@media (max-width: 1380px) {
	.description {
		margin-left: 0;
	}

	.description-label {
		font-size: 46px;
		max-width: max-content;
	}
}

@media (max-width: 1024px) {
	.description-label {
		font-size: 42px;
	}

	.signature {
		margin-top: 1rem;
	}
}

@media (max-width: 830px) {
	.contacts-section {
		padding: 2.5rem;
	}
	.description-label {
		font-size: 40px;
	}
}

@media (max-width: 768px) {
	a.network {
		scale: 0.91;
	}

	.description {
		font-size: 18px;
		max-width: max-content;
	}

	.contacts-section {
		padding: 2.5rem;
		border-radius: 35px;
	}
}

@media (max-width: 650px) {
	.description-label {
		font-size: 36px;
	}

	.description {
		font-size: 16px;

		& > p {
			max-width: 70%;
		}
	}

	.signature {
		font-size: 13px;
	}

	a.network {
		scale: 0.9;
	}
}

@media (max-width: 555px) {
	.description-label {
		font-size: 30px;
	}

	.contacts-section {
		padding: 2rem;
	}

	.networks-section {
		flex-direction: column;
		gap: 0.7rem;
		border-radius: 32px;
	}

	a.network {
		scale: 0.78;
	}

	.social-networks {
		gap: 0;
	}

	.description {
		margin: 0;
		margin-top: 1rem;

		& > p {
			max-width: max-content;
		}
	}
}

@media (max-width: 432px) {
	.contacts-section {
		border-radius: 20px;
		padding: 1.5rem;
	}

	.signature {
		font-size: 11px;
	}
}

@media (max-width: 360px) {
	.description-label {
		font-size: 25px;
	}
	.description {
		font-size: 14px;
	}
}

@media (max-width: 344px) {
	.description-label {
		font-size: 23px;
	}
}
